/* Box Model Hack */

* {
    box-sizing: border-box;
   
}


/* Clear fix hack */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
    font: 100%/1.5 Helvetica Neue, Segoe UI, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

header,
footer {
    height: 100px;
    clear: both;
    text-align: center;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.steps {
    width: 30%;
    float: left;
    background: #FCDCC8;
    border-radius: .3rem;
}

.teams {
    width: 50%;
    height: 200px;
    float: left;
    padding: .3rem;
}

#players {
    width: 100%;
    height: 200px;
    padding: .3rem;
}

button {
    display: block;
    margin: .3rem .3rem;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    user-select: all;
}

footer p >strike {
    color: red;
}

footer>p>span {
    font-weight: bolder;
}
footer> p{
    background-color: #F8924C;
    height: 100%;
}

select {
    width: 100%;
    height: 100%;
}

/* //new stuff */
section h2{
    padding: .3rem .5rem;
    margin: 0;
    background: #F8924C;
    color: white;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

main>section {
    margin: 0 1rem;
}
section>div{
    padding: .5rem .5rem;
}
h1{
    background-color: #F46B12;
    color: white;
    margin: 0;
    height: 70%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/