/* Box Model Hack */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Clear fix hack */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}


/* 
██████╗  █████╗ ███████╗███████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗███████╗
██╔══██╗██╔══██╗██╔════╝██╔════╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝██╔════╝
██████╔╝███████║███████╗█████╗      ███████╗   ██║    ╚████╔╝ ██║     █████╗  ███████╗
██╔══██╗██╔══██║╚════██║██╔══╝      ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  ╚════██║
██████╔╝██║  ██║███████║███████╗    ███████║   ██║      ██║   ███████╗███████╗███████║
╚═════╝ ╚═╝  ╚═╝╚══════╝╚══════╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚══════╝                                                                                   
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #333;
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
}

html {
    height: 100%;
}


/* 
██╗      █████╗ ██╗   ██╗ ██████╗ ██╗   ██╗████████╗
██║     ██╔══██╗╚██╗ ██╔╝██╔═══██╗██║   ██║╚══██╔══╝
██║     ███████║ ╚████╔╝ ██║   ██║██║   ██║   ██║   
██║     ██╔══██║  ╚██╔╝  ██║   ██║██║   ██║   ██║   
███████╗██║  ██║   ██║   ╚██████╔╝╚██████╔╝   ██║   
╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝  ╚═════╝    ╚═╝                                                       
*/

.page__inner {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.header {
    display: grid;
    place-content: center;
}

.header__logo {
    color: white;
}

.main__container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main__step {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

.main__hr {
    border: none;
    background-color: #ccc;
    color: #ccc;
    height: .13em;
    align-self: normal;
    border-radius: 5px;
    margin: 1em 0;
}

.main__btns {
    margin-top: 1em;
}

.main__players-list {
    list-style-type: none;
}

.main__teams {
    display: flex;
    gap: 1em;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.main__team-div {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.main__team {
    flex: 1;
    list-style-type: none;
}

.main__i {
    margin-right: 10px;
}

.footer {
    margin-top: auto;
    display: grid;
    place-content: center;
}

.main__add-btn {
    width: 5.5em;
}

.--dark {
    background-color: black;
    color: white;
}

.error-msg {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    display: none;
    border-radius: 1em;
    padding: .25em 1em;
}

.btn {
    border: none;
    padding: .75em .5em;
    font-size: 1rem;
    cursor: pointer;
    background-color: #fff;
    color: black;
    box-shadow: 0 0 4px #999;
    outline: none;
}

.--over {
    border: 3px dotted white;
}

.--ripple {
    background-position: center;
    transition: background 0.8s;
}

.--ripple:hover {
    background: darkgrey radial-gradient(circle, transparent 1%, darkgrey 1%) center/15000%;
}

.--ripple:active {
    background-color: lightgrey;
    background-size: 100%;
    transition: background 0s;
}

.player {
    padding: .75em;
    cursor: pointer;
    border: 1px solid white;
}

.player:hover {
    background-color: lightgrey;
}

.active {
    background-color: darkgrey;
}


/* 
███╗   ███╗███████╗██████╗ ██╗ █████╗      ██████╗ ██╗   ██╗███████╗██████╗ ██╗███████╗███████╗
████╗ ████║██╔════╝██╔══██╗██║██╔══██╗    ██╔═══██╗██║   ██║██╔════╝██╔══██╗██║██╔════╝██╔════╝
██╔████╔██║█████╗  ██║  ██║██║███████║    ██║   ██║██║   ██║█████╗  ██████╔╝██║█████╗  ███████╗
██║╚██╔╝██║██╔══╝  ██║  ██║██║██╔══██║    ██║▄▄ ██║██║   ██║██╔══╝  ██╔══██╗██║██╔══╝  ╚════██║
██║ ╚═╝ ██║███████╗██████╔╝██║██║  ██║    ╚██████╔╝╚██████╔╝███████╗██║  ██║██║███████╗███████║
╚═╝     ╚═╝╚══════╝╚═════╝ ╚═╝╚═╝  ╚═╝     ╚══▀▀═╝  ╚═════╝ ╚══════╝╚═╝  ╚═╝╚═╝╚══════╝╚══════╝
                                                                                                
*/


/* Mobile */

@media only screen and (min-width: 0em) {
    .header__container {
        padding: 0 10px;
        margin: auto;
        position: relative;
        width: 100%;
        max-width: 100%;
    }
    .header {
        height: 5em;
    }
    .header__logo {
        font-size: 4rem;
        margin: 0;
        letter-spacing: .05em;
    }
    .main__container {
        padding: 10px;
        margin: auto;
        position: relative;
        width: 100%;
        max-width: 1000px;
    }
    .main__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
    .main__label {
        align-self: flex-start;
        font-size: 3rem;
    }
    .main__input {
        width: 90%;
        height: 4em;
    }
    .main__add-btn {
        align-self: flex-end;
    }
    .btn {
        font-size: 2.75rem;
    }
    .main__h2 {
        font-size: 5rem;
        text-align: center;
    }
    .main__hr {
        height: .45em;
        align-self: normal;
    }
    .main__players-list {
        padding: 0 2em;
    }
    .player {
        padding: 1em;
        font-size: 3rem;
        text-align: center;
        border: .125em solid white;
    }
    .main__btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    }
    .main__team {
        padding: 0 2em;
    }
    .main__h4 {
        font-size: 3rem;
        text-align: center;
    }
    .footer {
        min-height: 100px;
    }
    .footer__p {
        font-size: 2rem;
    }
}


/* Tablet */

@media only screen and (min-width: 48em) {}


/* Small Desktop */

@media only screen and (min-width: 64em) {
    .header__container {
        padding: 0 10px;
        margin: auto;
        position: relative;
        width: 100%;
        max-width: 450px;
    }
    .header__logo {
        color: white;
        font-size: 2rem;
        margin: 0;
        letter-spacing: .05em;
    }
    .header {
        height: 110px;
    }
    .main__container {
        padding: 10px;
        margin: auto;
        position: relative;
        width: 100%;
        max-width: 1200px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .main__step:first-child {
        min-width: 25em;
    }
    .main__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
    .main__label {
        align-self: flex-start;
        font-size: 1.5rem;
    }
    .main__input {
        width: 90%;
        height: 2em;
    }
    .main__add-btn {
        align-self: flex-end;
    }
    .btn {
        font-size: 1.25rem;
    }
    .main__h2 {
        font-size: 3rem;
        text-align: center;
    }
    .main__hr {
        height: .25em;
        align-self: normal;
    }
    .main__players-list {
        padding: 0 2em;
    }
    .player {
        padding: 1em;
        font-size: 1.5rem;
        text-align: center;
        border: .125em solid white;
    }
    .main__btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    }
    .main__team {
        padding: 0 2em;
    }
    .main__h4 {
        font-size: 1.5rem;
        text-align: center;
    }
    .footer {
        min-height: 80px;
    }
    .footer__p {
        font-size: 1rem;
    }
}


/* Large Desktop */

@media only screen and (min-width: 1300px) {
    .header__container {
        padding: 0 10px;
        margin: auto;
        position: relative;
        width: 100%;
        max-width: 450px;
    }
    .header__logo {
        color: white;
        font-size: 2rem;
        margin: 0;
        letter-spacing: .05em;
    }
    .header {
        height: 110px;
    }
    .main__container {
        padding: 10px;
        margin: auto;
        position: relative;
        width: 100%;
        max-width: 1800px;
        flex-direction: row;
        align-items: flex-start;
    }
    .main__step:first-child {
        min-width: 20em;
    }
    .main__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
    .main__label {
        align-self: flex-start;
        font-size: 1.5rem;
    }
    .main__input {
        width: 90%;
        height: 2em;
    }
    .main__add-btn {
        align-self: flex-end;
    }
    .btn {
        font-size: 1.25rem;
    }
    .main__h2 {
        font-size: 3rem;
        text-align: center;
    }
    .main__hr {
        height: .25em;
        align-self: normal;
    }
    .main__players-list {
        padding: 0 2em;
    }
    .player {
        padding: 1em;
        font-size: 1.5rem;
        text-align: center;
        border: .125em solid white;
    }
    .main__btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    }
    .main__team {
        padding: 0 2em;
    }
    .main__h4 {
        font-size: 1.5rem;
        text-align: center;
    }
    .footer {
        min-height: 80px;
    }
    .footer__p {
        font-size: 1rem;
    }
}


/* 
 █████╗ ██████╗ ██████╗ ██╗████████╗██╗ ██████╗ ███╗   ██╗ █████╗ ██╗         ███████╗████████╗██╗   ██╗██╗     ███████╗███████╗
██╔══██╗██╔══██╗██╔══██╗██║╚══██╔══╝██║██╔═══██╗████╗  ██║██╔══██╗██║         ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝██╔════╝
███████║██║  ██║██║  ██║██║   ██║   ██║██║   ██║██╔██╗ ██║███████║██║         ███████╗   ██║    ╚████╔╝ ██║     █████╗  ███████╗
██╔══██║██║  ██║██║  ██║██║   ██║   ██║██║   ██║██║╚██╗██║██╔══██║██║         ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  ╚════██║
██║  ██║██████╔╝██████╔╝██║   ██║   ██║╚██████╔╝██║ ╚████║██║  ██║███████╗    ███████║   ██║      ██║   ███████╗███████╗███████║
╚═╝  ╚═╝╚═════╝ ╚═════╝ ╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚═╝  ╚═╝╚══════╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚══════╝
*/