* {
    box-sizing: border-box;
    border: 1px solid #CCC;
}

header,
footer {
    clear: both;
    text-align: center;
    padding: 32px;
}

.steps {
    width: 33.3333%;
    height: 400px;
    float: left;
    padding: 2%;
}

.teams {
    width: 50%;
    height: 200px;
    float: left;
    padding: 2%;
}

#players {
    width: 100%;
    height: 200px;
}

button {
    display: block;
    margin-top: 2%;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer>strike {
    color: red;
}

footer>span {
    font-weight: bolder;
}